*{
    padding: 1%;
    margin: 1%;
}

.cartao{
    background-color: darkolivegreen;
    width: 950px;
    height: 550px;
    display: flex;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
}

.imagem{
    width: 380px;
    height: 500px;
    border: 2px solid;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
}

.cartao:hover{
    background-color: rgb(65, 83, 35);
    width: 952px;
    height: 552px;
    display: flex;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
}